doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')    
  body
    block content
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery-2.1.1.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/renderjson.js")